@page "/accounts"
@using BankApp.Client.Models
@using BankApp1.DTOs
@inject AccountService AccountService

<h3>Accounts</h3>

<h4>Transfer Funds</h4>
<div class="transfer-box">
    <label>From Account ID:</label>
    <input type="number" @bind="fromId" />

    <label>To Account ID:</label>
    <input type="number" @bind="toId" />

    <label>Amount:</label>
    <input type="number" step="0.01" @bind="transferAmount" />

    <button @onclick="Transfer">Transfer</button>
</div>

<h4>Account List</h4>
<table class="table">
    <thead>
        <tr>
            <th>Account ID</th>
            <th>Balance</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var acc in accountList)
        {
            <tr>
                <td>@acc.AccountId</td>
                <td>@acc.Balance</td>
            </tr>
        }
    </tbody>
</table>

@code {
    private int fromId;
    private int toId;
    private decimal transferAmount;
    private List<Account> accountList = new List<Account>();

    protected override async Task OnInitializedAsync()
    {
        accountList = await AccountService.GetAccountsAsync();
    }

    private async Task Transfer()
    {
        await AccountService.TransferAsync(fromId, toId, transferAmount);
        accountList = await AccountService.GetAccountsAsync();
    }
}
